@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #111315;
  color: #fef7ee;
  -webkit-font-smoothing: antialiased;
}

@layer components {
  .btn {
    @apply rounded-lg px-3 py-2;
  }
}
